table {
    margin: 0;
    padding: 0;
    border: 0px rgb(16, 9, 117) solid;
    width: 100%;
    margin-top: 10px;
    min-width: 600px;
    border-bottom: rgb(16, 9, 117);
    border-bottom-style: groove;
}

.ImageTitle {
    width: 200px;
}

.Title {
    /* position: absolute;
    top: 0px; */
    margin-left: 10px;
    font-size: xx-large;
}

.SubTitle {
    font-size: small;
}

.Menu {
    position: absolute;
    bottom: -2px;
    right: 0;
}

.SubTitle {
    position: absolute;
    bottom: -2px;
}

.LogoInfo {
    width: 150px;
}

.userInfo {
    padding: 0;
    margin: 0;
    vertical-align: top;
}

.LogoInfo img {
    width: auto;
    height: 100px;
    margin: 0;
    padding: 0;
    margin-left: 5%;
    margin-right: 5%;
}